html,body {
    height:100%;
    max-width: 100%!important;
}

span {
    font-size: 18px;
}
.ul-issues {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    position: relative;
}
.li-issue {
    padding-top: 14px;
}
.li-issue a,
.li-link {
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
    /*color: black;*/
}
.li-link {
    text-decoration: none;
    display: block;
    margin-top: 14px;
}

.main-header {
    padding: 3em 3em;
    margin-bottom: 1.5em;
}
.main-header span {
    font-size: 25px;
}
.main-card-container {
    padding: 1.5em;
}
.or-divider {
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}
.header-divider {
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 1em 0;
}
.row .col.radio-group {
    position: relative;
    width: 19.666667%;
    text-align: center;
}
.label-row {
    padding: 1% 3% 0 7%;
}
.strength-slider.inactive .rc-slider-handle,
.strength-slider.inactive .rc-slider-handle:hover,
.strength-slider.inactive .rc-slider-dot-active:hover {
    background-color: #F5F5F5;
    border-color: lightgrey;
}
.strength-slider .rc-slider-dot  {
    bottom: -7px;
    width: 20px;
    height: 20px;
    border: 2px solid lightgrey;
    background: #F5F5F5;
}
.strength-slider .rc-slider-track {
    visibility: visible!important;
    left: -5%!important;
    width: 112%!important;
    background: lightgrey;
}
.strength-slider .rc-slider-handle,
.strength-slider .rc-slider-handle:hover {
    margin-left: -4px;
    margin-top: -9px;
    width: 20px;
    height: 20px;
    background-color: #0288D1;
    border-color: #0288D1;
}
.shorten.strike-through {
    width: 94%;
}
.add-links {
    padding: 12px 20px;
    height: 100%!important;
    line-height: 24px!important;
}
.dropdown-list {
    padding: 10px;
    position: absolute;
    width: 300px;
    z-index: 5;
}
select {
    display: block;
}
.argument-container {
    padding-top: 2em!important;
}
.argument-box,
.supp-op-box {
    display: inline-block;
}
.argument-box {
    width: 65%;
    overflow: visible;
    margin-right: .5em;
}
.supp-op-box {
    vertical-align: top;
    margin-top: .5rem;
    width: 28%;
}
.smaller-text span {
    line-height: 60px;
    font-size: 1.1em;
}
.no-margins {
    margin: 0!important;
}
.margin-top-3 {
    margin-top: 3em!important;
}
.rank-btn {
    padding: 0 1rem!important;
    margin-left: 7px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.drd-box {
    padding: 15px;
    min-height: 240px;
}
.delete-box {
    margin-top: 5px;
    padding: 15px;
}
.margin-left-3 {
    margin-left: 1em;
    font-size: 28px;
}
.collection-item.disabled {
    color: #9F9F9F;
}
.visible .collection-item {
    cursor: move;
}
.flex-wrapper {
    margin-top: 18%;
    font-size: 50px;
}
.isSelected {
    z-index: 99999999999999999999999999999!important;
    color: white;
    border-color: #0288d1!important;
}
.isSelected .collection-item {
    background: #0288d1 !important;
}
.pointer {
    cursor: pointer;
}
.shadowless-input input:focus {
    box-shadow: none!important;
}
.double-list {
    margin-top: 1em!important;
}
.double-list li {
    cursor: pointer;
    border-radius: 3px;
    margin-top: 1em;
}
.double-list li span {
    display: inline-block;
    padding: 1em!important;
}
.double-list li span:last-child {
    display: none!important;
}
.autocomplete-comp {
    margin-top: 5%;
    margin-left: 4%;
}
.hidden {
    display: none!important;
}
.relative {
    position: relative;
}
.check-ico {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 25px;
}
.argument {
    margin-top: .5em;
    border: solid 1px lightgrey;
    padding: 1em;
    font-size: 18px;
}
.admin-container label {
    font-size: 18px;
}
.admin-container input {
    width: 50px;
}
.admin-container span {
    padding-top: 1em;
    display: block;
}
.half {
    width: 50%!important;
}
.draggable {
    width: 90%;
}
.dropZone {
    display: block;
    min-height: 261px;
    margin: .5em 0;
    border-radius: 7px;
}
.flex-child {
    flex: 1;
    color: black;
    font-size: 18px;
    margin: 0;
}
.delete-box span {
    padding-top: 0!important;
    display: inline;
}
.padding-top-2 {
    padding-top: 2em;
}
.padding-right-3 {
    padding-right: 3em;
}

.block{
    display: block;
}
.custom-btn {
    width: 100%;
    text-align: left;
}
.btn-container {
    margin-bottom: .5em;
}
.btn-container div {
    width: 100%!important;
}
.finish-slide {
    margin-top: 25vh;
}
.rounded-on-med {overflow: hidden;
    text-overflow: ellipsis;
}
.modalSideBar {
    padding: 1.5em!important;
    border-radius: 3px;
    border-right: solid 1px #eeeeee;
}
.radioGroup label {
    font-size: 18px!important;
}
.cardFooter {
    padding: .5em;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
.flex-container-row {
    display: flex;
}
.description {
    margin-top: 1em;
}
.example-header {
    /*margin-bottom: 1em;*/
    display: block;
}
.example-actors .single-actor {
    margin-bottom: .5em;
}
.btn-group button {
    margin-left: 1em;
}
.blue-snack > div {
    background: #0288d1!important;
}
.visibility-h span {
    opacity: 0;
}
.modal-dialog-custom {
    overflow-y: scroll;
}
.modal-dialog-custom > div > div > div,
.modal-dialog-custom > div > div > div > div {
    min-height: 500px!important;
}
.lightblueBG {
    background: #b3e5fc!important;
}
.remove-zone {
    background: #d32f2f;
}
.rounded {
    background: rgba(255,255,255,0.1);
    min-height: 100px;
    height: 100%;
    border: none;
}
.remove-zone .rounded {
    min-height: 70px;
}
.fade-box {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(91,91,91, 0.8); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white;
    opacity: .9;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: opacity .7s;
}
.visible-args {
    opacity: 1;
    transition: opacity .7s;
}
.hidden-box {
    opacity: 0;
    transition: opacity .7s;
}
.slider-fadeout {
    color: gray;
    opacity: 0.6;
}
.expanded-input {
    width: 100%!important;
}
.expanded-input label {
    font-size: 16px;
}
.tooltip .tooltiptext {
    width: 187px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 53px;
    font-size: 14px;
    right: -21px;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.confirm-container {
    text-align: center;
}
.slider-container {
    margin-bottom: 3em;
}
.slider-container {
    padding-top: 2em!important;
}
.fixed-parent {
    position: relative;
}
.fixed-parent .fixed-child {
    width: 33%;
    right: 16.3%;
    top: 538px;
    position: fixed;
}
.text-left {
    text-align: left;
}
.finish-btn-container {
    margin-top: 1em;
}
.fixed-args {
    overflow-y: scroll;
    position: absolute;
    height: 100%;
}
.fixed-args .collection {
    width: 80%;
}
.inline.spans span {
    display: inline;
}
.makeChoiceBox:first-child {
    margin-top: 1em;
}
.hide-600 {
    display: block!important;
}
.show-600 {
    display: none!important;
}
@media screen and (min-width: 1232px){
    .modal-dialog-custom > div > div > div,
    .modal-dialog-custom > div > div > div > div {
        min-height: 534px!important
    }
}
@media screen and (max-width: 992px){
    .remove-zone .spans,
    .dropZone .spans {
        text-align: center;
    }
    .remove-zone .spans {
        line-height: 1em;
    }
    .remove-zone .spans span,
    .dropZone .spans span {
        display: none;
    }
    .remove-zone .spans  span:first-child,
    .dropZone .spans span:first-child {
        display: inline;
        padding-top: 0em;
        font-size: 18px;
        width: auto;
    }
    .fixed-parent .fixed-child {
        width: 19%;
        right: 9.3%;
        top: 485px;
        position: fixed;
    }
    .modal-dialog-custom > div > div > div,
    .modal-dialog-custom > div > div > div > div {
        min-height: 700px!important;
    }
    .main-card-container {
        width: 100%;
    }
    .finish-slide h2 {
        font-size: 2rem;
    }
    .label-row span {
        font-size: 12px!important;
    }
    .rounded-on-med,
    .rounded > div {
        display: block;
        margin: 0 2px !important;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 30px 25px!important;
        margin-bottom: .5em!important;
    }
    .no-border {
        border: none;
    }
    .remove-zone .rounded > div {
        margin: 0 auto !important;
        /*width: 43px;*/
        /*height: 43px;*/
    }
    .custom-trash {
        vertical-align: middle;
        font-size: 30px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .dropZone {
        padding: 0!important;
    }
    .delete-box,
    .dropZone ul {
        border: none;
        padding: 7px;
    }
    .collection .collection-item.inline {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
@media screen and (max-width: 768px){
    .dnd {
        padding-bottom: 151px;
    }
    .modal-dialog-custom > div > div {
        width: 100%!important;
    }
    .modal-dialog-custom > div > div > div > div {
        padding: 24px 0!important;
        max-height: 700px!important;
    }
    .modalSideBar {
        padding: 1.5em 7px!important;
    }
    .modalSideBar > div > div > div > div {
        margin-right: 2px!important;
    }
    .drd-container {
        padding-bottom: 13em;
    }
    .remove-zone {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .remove-zone ul div {
        display: inline-block;
    }
    .remove-zone .rounded {
        min-height: 34px!important;
    }
    .remove-zone .spans {
        margin-right: 1em;
    }
    .fade-box h1 {
        font-size: 67px;
    }
    .fade-box h3 {
        font-size: 32px;
    }
    .rounded-on-med,
    .rounded > div {
        display: block;
        margin: 0 auto!important;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        padding: 17px 9px!important;
        margin-bottom: .5em!important;
    }
}
@media screen and (max-width: 600px){
    .hide-600 {
        display: none!important;
    }
    .show-600 {
        display: block!important;
        margin: 0 auto;
    }
    .flex-wrapper {
        margin-top: 4%;
    }
    .margin-top-3-xs {
        margin-top: 3em!important;
    }
    .slider-container {
        padding-top: 0!important;
        margin-bottom: 2em;
    }
}
@media screen and (max-width: 390px) {
    .rounded-on-med, .rounded > div {
        line-height: 1rem!important;
        width: 47px;
        height: 47px;
    }
    .rounded-on-med, .rounded {
        padding: 7px 0!important;
    }
}

@media screen and (max-width: 320px) {
    .rounded-on-med, .rounded > div {
        line-height: 0.6rem !important;
        width: 41px;
        height: 41px;
    }
}