.ng-admin-entity-argumentPairing > form > .ng-scope:nth-child(3),
.ng-admin-entity-argumentPairing > form > .ng-scope:nth-child(4) {
    vertical-align: top;
    display: inline-block;
    padding-left: 11%;
    width: 50%;
}
#row-firstArg label,
#row-secondArg label {
    width: 100%!important;
    text-align: left!important;
    margin-bottom: 1em;
}
.args-list {
    list-style: none;
    padding-left: 0;
}